{
  "user_login": "USUARIO_AQUI",
  "user_password": "SENHA_AQUI",
  "tombo_disponivel_1": "ATIVO_DISPONIVEL_1",
  "tombo_disponivel_2": "ATIVO_DISPONIVEL_2",
  "tombo_disponivel_3": "ATIVO_DISPONIVEL_3"
}